################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex/510d2ecc-bab2-4049-9d91-e2a2fc641042.vsidx
/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex/f13df634-60a1-47e5-bc86-b4adaf104bbb.vsidx
/.vs/PangVJ/v17
/2DGame/02-Bubble/.vs/02-Bubble/v17/ipch/AutoPCH/d7d3990edcd836eb
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.opendb
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.db-wal
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.db-shm
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.db
/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex/0436c895-e4a4-4bb8-b220-59525a22ece2.vsidx
/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex
