################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex/510d2ecc-bab2-4049-9d91-e2a2fc641042.vsidx
/2DGame/02-Bubble/.vs/02-Bubble/FileContentIndex/f13df634-60a1-47e5-bc86-b4adaf104bbb.vsidx
/.vs/PangVJ/v17
/2DGame/02-Bubble/.vs/02-Bubble/v17/ipch/AutoPCH/d7d3990edcd836eb
